@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
:root {
    --color-main: #8261ee;
    --color-highlight: #ff589e;
    --color-text-1: #1e1e1e;
    --color-text-2: #777;
    --bg-1: #F2F2FE;

    --font: 'Raleway', sans-serif;
}

body {
    font-family: var(--font);
}
a:hover {
    text-decoration: none;
}
::selection {
    color: #fff;
    background: var(--color-highlight);
}

.box-head {
    text-align: center;
    margin-bottom: 30px;
}
.box-head .inner-title {
    color: var(--color-text-1);
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

.box-head .inner-desc {
    color: var(--color-text-2);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 40px;
    letter-spacing: 0.25px;
    max-width: 550px;
    margin-left: 280px;
}

.box-head.inner-white .inner-title {
    color: #fff;
}
.box-head.inner-white .inner-desc {
    color: #fff;
}